[submodule "third_party/SDL_image"]
	path = third_party/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = main
[submodule "third_party/SDL_ttf"]
	path = third_party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
	branch = main
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
