[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/AserJoker/quickjs.git
[submodule "third_party/SDL_net"]
	path = third_party/SDL_net
	url = https://github.com/libsdl-org/SDL_net
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON
